
@{
    ViewData["Title"] = "UnauthorizedUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><p style="text-align:center">You are not authorized to access this Page.</p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

